t1 {
    text-align: center;
    margin: 0 5%;
    word-wrap: break-word;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: #333;
  }
  
  .dropdown-menu {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .dropdown-item {
    color: #333;
  }

  iframe {
    height: 100%
  }
  